h1 {
    text-align: center;
}

.accepted {
    color: green;
    font-weight: bold;
    text-decoration: underline;

}

.rejected {
    color: red;
    font-weight: bold;
    text-decoration: underline;

}

#disclaimer {
    font-style: italic;
}

.important {
    font-weight: bold;
    text-decoration: underline;
}

#text-weight-avg {
    font-style: italic;

}

#info-modal {
    display: flex;
    justify-content: center;
}

#howto-modal {
    display: flex;
    justify-content: flex-end;
}

.modal-howto-img {
    width: 100%;
}

@media (max-width: 500px) {

    #intro-text,
    #disclaimer {
        font-size: 0.8rem;

    }
}