.accepted {
    color: green;
    font-weight: bold;
    text-decoration: underline;

}

.rejected {
    color: red;
    font-weight: bold;
    text-decoration: underline;

}

#disclaimer {
    font-style: italic;
}

.important {
    font-weight: bold;
    text-decoration: underline;
}

#text-weight-avg {
    font-style: italic;

}

#info-modal {
    display: flex;
    justify-content: center;
}