.accepted {
    color: green;
    font-weight: bold;
    text-decoration: underline;

}

.rejected {
    color: red;
    font-weight: bold;
    text-decoration: underline;

}

#disclaimer {
    font-style: italic;
}

.important {
    font-weight: bold;
    text-decoration: underline;
}